/*
TERMINAL THEME: Gruvbox Dark
 */

$term-black   : #282828;
$gallery      : #ebdbb2;
$term-red     : #cc241d;
$term-green   : #98971a;
$term-yellow  : #d79921;
$term-blue    : #458588;
$term-cyan    : #689d6a;
$term-white   : #a89984;
$term-purple  : #b16286;

/* ref: TOASTs
  primary : term-blue
  danger  : term-red
  success : term-green
  warning : term-yellow
  info    : termin-cyan
 */
 
$border-color : #504945;
$surface      : #3c3836;
$muted        : #928374;
