@font-face {
  font-family: 'JetBrain';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/JetBrainsMonoNLNerdFont-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrain';
  font-weight: 300;
  font-style: bold;
  src: url('../fonts/JetBrainsMonoNerdFont-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrain';
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/JetBrainsMonoNerdFont-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrain';
  font-weight: 200;
  font-style: monospace;
  src: url('../fonts/JetBrainsMonoNLNerdFontPropo-SemiBold.ttf') format('truetype');
}
