@use "fonts";
@use "rouge-github";

body {
  background-color: #221f22;
  padding:50px;
  font: 16px/1.5 "JetBrain";
  color:#fcfcfa;
  font-weight:200;
}

h1, h2, h3, h4, h5, h6 {
  color:#ff6188;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  font-size: 22px;
  color: #bf5168;
}


h3, h4, h5, h6 {
  font-size: 20px;
  color: #af3158;
}

a {
  color:#1c98f7;
  text-decoration:none;
}

a:hover, a:focus {
  text-decoration: underline;
  font-weight: italic;
}

a small {
  font-size:11px;
  margin-top:-0.1em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:760px;
  margin:0;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family: 'JetBrain';
  font-style:monospace;
}

pre {
  padding:8px 15px;
  background: #19181a;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  font-weight:300;
}

th {
  color:#67fa67;
}

img {
  max-width:100%;
}

kbd {
  background-color: #000;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

strong {
  color:#fcfcfa;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:auto;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:280px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:left;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
